@import url("https://fonts.googleapis.com/css?family=Roboto");

.App {
  font-family: Roboto;
  text-align: center;
  display: flex;
  height: 100vh;
  width: 100%;
}

body {
  margin: 0;
}

.left-container {
  background-color: #745e5e;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-image-container {
  width: 50%;
}

.inner-left-container {
  padding: 9rem;
  text-align: left;
}

input[type="email"] {
  text-decoration: none;
  border: none;
  border-bottom: 1px solid #e9e8e8;
  width: 300px;
  background-color: #745e5e;
  margin-bottom: 25px;
  padding-bottom: 10px;
  font-weight: 100;
}

input[type="email"]::placeholder {
  color: #e9e8e8;
}

.next-button {
  padding: 6px;
  width: 24%;
  color: #745e5e;
  font-weight: 600;
}

h2 {
  color: white;
}

.stage-2-inner {
  width: 300px;
}

.button {
  margin-left: 10px;
}

.button:nth-child(2),
.button:nth-child(3) {
  background-color: #745e5e;
  color: white;
  border: 1px solid white;
}

.stage-two-next-button {
  margin-right: 53%;
  margin-top: 30%;
}

.thank-you {
  margin-bottom: 80%;
  font-size: 40px;
}
